/* ====== box-sizing ====== */
 *, *:before, *:after   { box-sizing: border-box; }


/* ====== media ====== http://jsbin.com/amarox/4/edit */
.media:before,
.media:after            { content: " "; display: table; }

.media:after            { clear: both; }

.mediaImg               { float: left; margin-right: 8px; margin-right: 0.5rem; }

.mediaBody              { display: table-cell; width: 10000px; vertical-align: top; }

.mediaBody :first-child { margin-top: 0; }


/* ====== widget ====== */
.ecoWidget > a          { text-decoration: none; }
.ecoWidget > a:hover h3 { color: #666; }

.ecoWidget              { background-color: #FFECE6; padding: 0px 12px 8px; padding: 0rem 0.75rem 0.5rem; /* box-shadow: 1px 1px 6px rgba(0,0,0,0.2); */}

.ecoHeader              { margin: 0; padding: 8px 0 13px; padding: 0.5rem 0 0.8rem; font-family: Georgia, "Times New Roman", Times, serif; }
.ecoHeader > h2         { margin: 0; }

.ecoPuff                { display: block; margin-bottom: 8px; margin-bottom: 0.5rem; }

.ecoPuffImg             { width: 112px; width: 7rem; }
.ecoPuffImg > img,
  .ecoPuffImgHero,
  .ecoPuffImgHero > img { width: 100%; height: auto; }


.ecoPuffBody            { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.ecoPuffBody > span     { display: inline-block; padding: 0.1rem 0.25rem 0.15rem; vertical-align: inherit; text-transform: uppercase; font-size: 9px; font-size: 0.55rem; color: #ddd; background-color: #555; }

.ecoPuffBody > h3       { margin: 0; font-size: 16px; font-size: 1rem; line-height: 1.2; color: black; }

